@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

header {
    font-family: "Roboto Slab", serif;
    color: #e1dcf1;
    background-color: #070f39;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

h1, h2 {
    margin: 0;
}