@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    color: #070f39;
    background-color: #e1dcf1;
    font-family: "Roboto Slab", serif;
    padding: 0 40px 30px 40px;
}
